.sign_in_content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 3rem auto 0;
  padding: 2rem;
  overflow: hidden;
}

.sign_in_button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.sign_in_button:hover {
  cursor: pointer;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.input_remember {
  display: flex;
}

.input_remember label {
  margin-left: 0.25rem;
}

